.active {
  opacity: 1;
}

.inactive {
  opacity: 0;
}

.App {
  padding: 6rem;
}

ul {
  list-style: none;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.5rem;
}

.data-wrapper {
  display: flex;
}

.col {
  padding: 1rem 2rem;

  &__heading {
    font-size: 2rem;
    padding: 1rem 0.5rem 2rem 0.5rem;
  }
}

.row {
  height: 3rem;
}

// --- Task.js ---

.checkbox-container {
  & input[type="checkbox"] {
    cursor: pointer;
    opacity: 0;
    position: absolute;
  }

  & label {
    cursor: pointer;
    display: flex;
  }

  & label::before {
    content: "";
    width: 1.6rem;
    height: 1.6rem;
    border: 0.1rem solid black;
    border-radius: 0.15rem;
  }

  & label:hover::before,
  & input[type="checkbox"]:hover + label::before {
    background-color: rgb(192, 228, 248);
  }

  & input[type="checkbox"]:checked + label::before {
    background-color: rgb(84, 188, 244);
  }
}
